.Projectdiv {
    min-height: calc(100vh - 50px);
}

.Projectcontentdiv {
    min-height: calc(100vh - 50px);
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.Projectvideo {
    height: 400px;
}

.Projectoverview {
    width: 35%;
    padding-top: 25px;
    margin-left: 15px;
    box-sizing: border-box;
}

.Projectpagename {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

.Projecttech {
    margin: 10px 0px;
    font-weight: bold;
    font-size: 18px;
}

.project-links-button {
    height: 30px;
    width: 110px;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    background-color: #ECECEC;
    font-size: 11px;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0px 5px;
}

.project-links-button:hover {
    background-color: #1A1A1A;
    color: white;
}

@media(max-width: 1200px){
    .Projectoverview {
        padding-top: 0px;
    }
}

@media(max-width: 1100px){
    .Projectcontentdiv {
        flex-direction: column-reverse;
        align-items: center;
    }
    .Projectvideo {
        height: 350px;
    }
    .Projectoverview {
        width: 65%;
        margin-bottom: 50px;
    }
}

@media(max-width: 650px){
    .Projectvideo {
        height: 250px;
    }
    .Projectoverview {
        width: 85%;
    }
}

@media(max-width: 450px){
    .Projectvideo {
        height: 175px;
        margin-bottom: 15px;
    }
    .Projectoverview {
        width: 90%;
        padding-top: 25px;
        margin-bottom: 25px;
    }
}