.About {
    height: 100vh;
}

.Aboutpageflexdiv1 {
    margin: 0px 50px;
    padding-top: 75px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.Aboutpageflexdiv2 {
    margin: 0px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.Aboutinfodivs {
    width: 475px;
}

.Picturedivs {
    width: 475px;
}

.Aboutmequestions {
    margin: 15px 0px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.Questionanswers {
    box-sizing: border-box;
}

.Portfoliopicture {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url('./Pictures/Portfoliopicture.jpg');
    background-position: top;
    border: 1px solid #1a1a1a;
    display: inline-block;
}

.Familypicture {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url('./Pictures/Family.png');
    border: 1px solid #1a1a1a;
    display: inline-block;
}