.Hometopdiv {
    height: 100vh;
    padding-top: 45vh;
    box-sizing: border-box;
    background-image: url("./Pictures/astronomy-cosmos-crater-lake-national-park-262669.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
}

.Namebackground {
    height: 120px;
    width: 350px;
    background-color: #1A1A1A;
    opacity: .8;
    display: inline-block;
    border-radius: 10px;
}

.Homename {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
    color: white;
}

.Homeprompt {
    font-size: 25px;
    font-weight: bold;
    margin: 8px;
    color: white;
}

.Homeaboutdiv {
    height: 485px;
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #ECECEC;
}

.Aboutpositionbox {
    display: flex;
    justify-content: center;
}

.Homeaboutflexbox {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0px 75px;
}

.Homeaboutprompt {
    margin: 0px;
    padding-bottom: 15px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.Aboutmeparagraph {
    height: 300px;
    width: 400px;
    margin-top: 10px;
    text-align: left;
}

.Educationprompt {
    margin: 20px 0px 5px 0px;
    font-weight: bold;
}

.Education {
    margin: 8px 0px 0px 0px;
}

.Educationinfo {
    margin: 2px 0px;
    font-style: italic;
}

.Moreaboutmebuttondiv {
    text-align: center;
    padding-top: 20px;
}

.Moreaboutmebutton {
    height: 30px;
    width: 110px;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    background-color: #ECECEC;
    font-size: 11px;
    font-weight: bold;
}

.Moreaboutmebutton:hover {
    background-color: #1A1A1A;
    color: white;
}

.Homepicture {
    height: 365px;
    width: 365px;
    border-radius: 50%;
    border: 1px solid #DEDEDE;
}

.Skillsdiv {
    min-height: 515px;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Skillsflexbox {
    max-width: 1350px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Skillboxes {
    height: 200px;
    width: 180px;
    padding-top: 20px;
    margin: 10px 20px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}

.Skillsprompts {
    margin-top: 15px;
    color: black;
}

.Homeprojectdiv {
    min-height: 500px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #ECECEC;
}

.Homeprojectpositionbox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Homeprojectflexbox {
    width: 1200px;
    margin-top: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Projectlinkbox:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Projectlinkbox:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Projectboxone {
    height: 235px;
    width: 450px;
    background-image: url("./Pictures/TeachioHome.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    transition: height 1s, width 1s;
    margin-bottom: 15px;
}

.Projectboxone:hover {
    height: 250px;
    width: 490px;
}

.Projectboxtwo {
    height: 235px;
    width: 450px;
    margin: 0px 10px;
    background-image: url("./Pictures/odntlongboards.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    transition: height 1s, width 1s;
    margin-bottom: 15px;
}

.Projectboxtwo:hover {
    height: 250px;
    width: 490px;
}

.Projectboxthree {
    height: 235px;
    width: 450px;
    background-image: url("./Pictures/PearProgramming.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    transition: height 1s, width 1s;
    margin-bottom: 15px;
}

.Projectboxthree:hover {
    height: 250px;
    width: 490px;
}

.Projectboxdescription {
    height: 100%;
    width: 100%;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s, width 1s;
}

.Projectboxdescription:hover {
    color: white;
    background-color: #1A1A1A;
    opacity: .7;
}

.Projectdescriptionspan {
    width: 250px;
}

.Homecontactdiv {
    height: 325px;
    width: 80%;
    padding-top: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.Homecontactpositionbox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Homecontactflexbox {
    width: 1100px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    
}

.Homecontactparagraph {
    width: 350px;
}

.Homecontactlinks {
    text-align: left;
}

.Sociallinks:link {
    text-decoration: none;
    color: black;
}

.Sociallinks:visited {
    color: black;
}

.Linkdivs {
    margin-bottom: 10px;
}

.Linkspans {
    margin-left: 10px;
}

@media(max-width: 1100px){
    .Skillsdiv {
        height: 950px;
    }
    .Skillsflexbox {
        width: 875px;
    }
    .Homeprojectdiv {
        min-height: 375px;
    }
    .Homeprojectflexbox {
        margin-top: 10px;
    }
    .Projectboxone {
        height: 200px;
        width: 450px;
    }
    .Projectboxtwo {
        height: 200px;
        width: 450px;
    }
}

@media(max-width: 900px){
    .Skillsflexbox {
        width: 85%;
    }
    .Homeprojectdiv {
        min-height: 750px;
    }
    .Homeprojectflexbox {
        min-height: 750px;
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
    }
    .Projectlinkbox:link {
        margin-bottom: 20px;
    }
    .Projectboxone {
        height: 250px;
        width: 500px;
    }
    .Projectboxtwo {
        height: 250px;
        width: 500px;
    }
    .Homecontactdiv {
        width: 95%;
    }
}

@media(max-width: 800px){
    .Homeaboutdiv {
        height: 490px;
    }
    .Aboutmeparagraph {
        height: 300px;
        width: 350px;
        margin-top: 10px;
        margin-right: 5px;
    }
    .Homepicture {
        height: 335px;
        width: 335px;
        margin-top: 10px;
    }
    .Skillsflexbox {
        width: 95%;
    }
    .Homecontactdiv {
        height: 450px;
        width: 95%;
    }
    .Homecontactflexbox {
        flex-direction: column;
        align-items: center;
    }
    .Homecontactlinks {
        margin-top: 45px;
    }
}

@media(max-width: 700px){
    .Homeaboutdiv {
        height: 675px;
    }
    .Homeaboutflexbox {
        flex-direction: column-reverse;
        align-items: center;
    }
    .Aboutmeparagraph {
        width: 420px;
        text-align: center;
    }
    .Homepicture {
        height: 200px;
        width: 200px;
        margin: 0px;
    }
    .Education {
        margin-top: 15px;
    }
    .Skillsdiv {
        height: 725px;
    }
    .Skillsflexbox {
        width: 95%;
    }
    .Skillboxes {
        height: 150px;
        width: 135px;
        padding-top: 10px;
        margin: 5px 10px;
    }
    .Skillpictures {
        height: 95px;
        width: 95px;
    }
    .Skillsprompts {
        margin: 5px 0px;
    }
    .Homeprojectdiv {
        min-height: 575px;
    }
    .Projectboxone {
        height: 175px;
        width: 350px;
    }
    .Projectboxone:hover {
        height: 190px;
        width: 360px;
    }
    .Projectboxtwo {
        height: 175px;
        width: 350px;
    }
    .Projectboxtwo:hover {
        height: 190px;
        width: 360px;
    }

    .Projectboxthree {
        height: 175px;
        width: 350px;
    }

    .Projectboxthree:hover {
        height: 190px;
        width: 360px;
    }
}

@media(max-width: 500px){
    .Hometopdiv {
        background-position: 50% 50%;
    }
    .Namebackground {
        height: 100px;
        width: 280px;
    }
    .Homename {
        font-size: 28px;
    }
    .Homeprompt {
        font-size: 20px;
    }
    .Homeaboutdiv {
        height: 100%
    }
    .Aboutmeparagraph {
        height: 100%;
        width: 120%;
        margin-bottom: 15px;
    }
    .Skillsdiv {
        height: 100%;
    }
    .Skillboxes {
        height: 100px;
        width: 90px;
        padding-top: 5px;
        margin: 7px 5px;
    }
    .Skillpictures {
        height: 60px;
        width: 60px;
    }
    .Skillsprompts {
        margin: 2px 0px;
        font-size: 15px;
    }
    .Projectboxone {
        height: 140px;
        width: 280px;
    }
    .Projectboxone:hover {
        height: 150px;
        width: 290px;
    }
    .Projectboxtwo {
        height: 140px;
        width: 280px;
    }
    .Projectboxtwo:hover {
        height: 150px;
        width: 290px;
    }
    .Projectboxthree {
        height: 140px;
        width: 280px;
    }
    .Projectboxthree:hover {
        height: 150px;
        width: 290px;
    }
    .Homecontactdiv {
        height: 400px;
    }
    .Homecontactparagraph {
        width: 300px;
        font-size: 14px;
    }
    .Homecontactlinks {
        font-size: 14px;
    }
}