.Hometopdiv {
    height: 100vh;
    padding-top: 45vh;
    box-sizing: border-box;
    background-image: url("./Pictures/Space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.Homename {
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    color: white;
}

.Homeprompt {
    font-size: 28px;
    font-weight: bold;
    margin: 8px;
    color: white;
}

.Homeaboutdiv {
    height: 390px;
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #ECECEC;
}

.Aboutpositionbox {
    display: flex;
    justify-content: center;
}

.Homeaboutflexbox {
    width: 1400px;
    display: flex;
    justify-content: space-around;
    margin: 0px 75px;
}

.Homeaboutprompt {
    margin: 0px;
    padding-bottom: 15px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.Aboutmeparagraph {
    height: 300px;
    width: 425px;
    margin-top: 60px;
    text-align: left;
}

.Moreaboutmebuttondiv {
    text-align: center;
    padding-top: 20px;
}

.Moreaboutmebutton {
    height: 30px;
    width: 110px;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    background-color: #ECECEC;
    font-size: 11px;
    font-weight: bold;
}

.Moreaboutmebutton:hover {
    background-color: #1A1A1A;
    color: white;
}

.Homepicture {
    height: 275px;
    width: 275px;
    border-radius: 50%;
    border: 1px solid #DEDEDE;
}

.Skillsdiv {
    height: 515px;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Skillsflexbox {
    max-width: 1250px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Skillboxes {
    height: 200px;
    width: 180px;
    padding-top: 20px;
    margin: 10px 20px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}

.Skillsprompts {
    margin-top: 15px;
    color: black;
}

.Homeprojectdiv {
    height: 500px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #ECECEC;
}

.Homeprojectflexbox {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.Projectlinkbox:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Projectlinkbox:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Projectboxone {
    height: 245px;
    width: 500px;
    background-image: url("./Pictures/TeachioHome.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    transition: height 1s, width 1s;
}

.Projectboxone:hover {
    height: 270px;
    width: 525px;
}

.Projectboxtwo {
    height: 245px;
    width: 500px;
    background-image: url("./Pictures/PearProgramming.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    transition: height 1s, width 1s;
}

.Projectboxtwo:hover {
    height: 270px;
    width: 525px;
}

.Projectboxdescription {
    height: 100%;
    width: 100%;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s, width 1s;
}

.Projectboxdescription:hover {
    color: white;
    background-color: #1A1A1A;
    opacity: .7;
}

.Projectdescriptionspan {
    width: 250px;
}

.Homecontactdiv {
    height: 325px;
    width: 80%;
    padding-top: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.Homecontactflexbox {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.Homecontactparagraph {
    width: 350px;
}

.Homecontactlinks {
    text-align: left;
}

.Sociallinks:link {
    text-decoration: none;
    color: black;
}

.Sociallinks:visited {
    color: black;
}

.Linkdivs {
    margin-bottom: 10px;
}

.Linkspans {
    margin-left: 10px;
}

@media(max-width: 1100px){
    .Hometopdiv {
        height: 1000px;
        padding-top: 35vh;
    }
    .Skillsdiv {
        height: 950px;
    }
    .Skillsflexbox {
        width: 875px;
    }
    .Homeprojectdiv {
        height: 375px;
    }
    .Homeprojectflexbox {
        margin-top: 10px;
    }
    .Projectboxone {
        height: 200px;
        width: 450px;
    }
    .Projectboxtwo {
        height: 200px;
        width: 450px;
    }
}