.Footer {
    height: 50px;
    box-sizing: border-box;
    padding-top: 12px;
    background-color: #1A1A1A;
    color: white;
}

@media(max-width: 500px){
    .Footer {
        font-size: 15px;
    }
}