.Projectdiv {
    height: calc(100vh - 50px);
}

.Projectcontentdiv {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.Projectvideo {
    height: 400px;
}

.Projectoverview {
    width: 35%;
    padding-top: 45px;
    box-sizing: border-box;
}

.Projectpagename {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

.Projecttech {
    margin: 10px 0px;
    font-weight: bold;
    font-size: 18px;
}
